body {
  background-color: black;
  text-align: center;
  color: white;
}

select {
  width: 15em;
  height: 2em;
}

#dollar-sign {
  font-weight: bold;
  margin-right: 5px;
  font-size: larger;
}

.error {
  margin-top: 20px;
  color: red;
}

button {
  margin-top: 15px;
}

input:hover, select:hover {
  cursor: url(https://cur.cursors-4u.net/others/oth-2/oth192.cur), auto !important;
}

select, input {
  font-weight: bold;
}

#equal-sign {
  display: none;
}

#title {
  margin-bottom: 50px;
}